<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mascota Form</title>
</head>
<body>
<h2 th:text="${mode == 'edit' ? 'Editar mascota'}"></h2>
<p th:if="${error != null}" th:text="${error}" style="color:red;"></p>

<form method="post"
      th:action="${mode == 'edit'} ? @{/mascota/update}}"
      th:object="${employeeForm}">
    <input type="hidden" th:field="*{employeeId}" />
    <label>Nombre:</label>
    <input type="text" th:field="*{firstName}" /><br><br>
    <label>Apellido:</label>
    <input type="text" th:field="*{lastName}" /><br><br>
    <label>Email:</label>
    <input type="text" th:field="*{email}" maxlength="25" /><br><br>
    <label>Teléfono:</label>
    <input type="text" th:field="*{phoneNumber}" /><br><br>
    <label>Salario:</label>
    <input type="number" step="0.01" th:field="*{salary}" /><br><br>
    <label>Job:</label>
    <select th:field="*{jobId}">
        <option value="">Seleccione un job</option>
        <option th:each="job : ${jobs}" th:value="${job.jobId}" th:text="${job.jobTitle}"></option>
    </select><br><br>
    <button type="submit" th:text="${mode == 'edit' ? 'Actualizar' : 'Guardar'}"></button>
</form>

<p><a th:href="@{/opcion1/employee/list}">Ver lista</a></p>
</body>
</html>