<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de mascotas</title>
</head>
<body>
<h2>Lista de mascotas</h2>
<table border="1" cellpadding="8">
  <tr><th>ID</th><th>Nombre</th><th>Especie</th><th>Raza</th><th>Edad</th><th>Nombre del dueño</th><th>Teléfono</th><th>Estado</th><th>Acciones</th></tr>
  <tr th:each="m : ${mascota}">
    <td th:text="${m.id}"></td>
    <td th:text="${m.nombre}"></td>
    <td th:text="${m.especie}"></td>
    <td th:text="${m.raza}"></td>
    <td th:text="${m.edad}"></td>
    <td th:text="${m.nombreDueno}"></td>
    <td th:text="${m.telefono}"></td>
    <td th:text="${m.estado}"></td>
    <td>
      <a th:href="@{/mascota/edit(id=${m.id})}">Editar</a> |
      <a th:href="@{/mascota/delete(id=${m.id})}">Eliminar</a>
    </td>
  </tr>
</table>
</body>
</html>